/*
 Theme Name:   NetFive
 Author:       Aldeia
 Author URI:   http://aldeia.biz
 Template:     Divi
 Version:      1.0.0
*/



.footer-form {
  background: rgba(238, 238, 238, 0.05);
  width: 100%;
  height: 150px;
}

.footer-form form {
  display: inline-block;
  text-align: center;
  font-size: 18px;
  margin: 0 auto;
  display: block;
}

.footer-form form h3 {
  color: #fff;
  text-align: center;
  font-size: 18px;
  padding: 30px 0 20px 0;
}

.footer-form form input {
  display: inline-block;
  background: #EEEEEE;
  color: #2D2D2D;
  border: none;
  padding: 15px 10px;
  width: 255px;
  font-size: 18px;
}
.footer-form form input + input{
	margin-left: 7px;
}

.footer-form form button {
  background: #D81C3B;
  color: #fff;
  border-radius: 3px;
  border: none;
  padding: 15px 0px;
  width: 130px;
  font-size: 18px;
  margin-left: 10px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}
.footer-form form button:hover{
	opacity: 0.8;
}


.footer-form ::-webkit-input-placeholder {
   color: #2D2D2D;
}

.footer-form :-moz-placeholder { /* Firefox 18- */
   color: #2D2D2D;
}

.footer-form ::-moz-placeholder {  /* Firefox 19+ */
   color: #2D2D2D;
}

.footer-form :-ms-input-placeholder {
   color: #2D2D2D;
}

.post__author{
background-image: url(https://www.netfive.com.br/wp-content/uploads/2019/05/bg-red-square.jpg);
background-size: cover;
background-repeat: no-repeat;
color: #fff;
text-transform: uppercase;
font-style: italic;
padding: 5px 15px;
    position: absolute;
    bottom: 12px;
    left: 15px;
    border-radius: 1px;
    min-width: 140px;
font-size: 14px;
min-height: 28px;

}

.post__author--content{
	display: flex;
	align-items: center;
	background-image: url(https://www.netfive.com.br/wp-content/uploads/2019/05/bg-gray-square.jpg);
	background-size: 100% 100px;
	background-repeat: no-repeat;
	background-position: 50px center;
	margin-top: 45px;
	margin-bottom: 100px;
}

.post__author--content .post__author--figure{
border-radius: 135px;
height: 135px;
max-width: 135px;
flex: 0 0 135px;
overflow:hidden;
box-shadow: 3px 4px 0 0px #B22D00;
margin-left: 0;
}

.post__author--content .post__author--figure img{
    height: auto;
    width: 102%;
    max-width: none;
}

.post__author--content>div{
	flex: 1 1 auto;
}
.post__author--content * {
	font-family: 'Montserrat', sans-serif;
}

.post__author--content .post__author--name{
	color: #B22D00;
	font-weight: bold;
	font-size: 20px;
	font-style: italic;
}
.post__author--content .post__author--office{
	color: #999999;
font-size: 12px;
	margin-bottom: 10px;
}
.post__author--content .post__author--specialization{
	color: #999999;
	font-weight:400;
	font-size: 12px;
	line-height: 1.1;
	max-width: 410px;
}

@media only screen and (max-width: 575px){
	.post__author--content{
		flex-direction: column;
		align-items: flex-start;
		background-image: none!important;
		padding: 0 15px 20px
	}
	.post__author--content .post__author--figure{
		border-radius: 100px;
		height: 100px;
		max-width: 100px;
		flex: 0 0 100px;
		margin-right: 10px;
	}
}